**/bin/
**/obj/

.git/
.github/

.vs/
.vscode/

**/node_modules/
**/dist/
**/build/

infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.*
infra/**/terraform.tfvars

**/local.settings.json
**/appsettings.Development.json

.env
.env.*
